<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML>
<HEAD>
<TITLE>Untitled Page</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<STYLE type=text/css> 
{
    FONT-SIZE: 12px
}
.gridView {
    BORDER-RIGHT: #bad6ec 1px; BORDER-TOP: #bad6ec 1px; BORDER-LEFT: #bad6ec 1px; COLOR: #566984; BORDER-BOTTOM: #bad6ec 1px; FONT-FAMILY: Courier New
}
.gridViewHeader {
    BORDER-RIGHT: #bad6ec 1px solid; BORDER-TOP: #bad6ec 1px solid; BACKGROUND-IMAGE: url(/static/imgs/bg_th.gif); BORDER-LEFT: #bad6ec 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #bad6ec 1px solid
}
.gridViewItem {
    BORDER-RIGHT: #bad6ec 1px solid; BORDER-TOP: #bad6ec 1px solid; BORDER-LEFT: #bad6ec 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #bad6ec 1px solid; TEXT-ALIGN: center
}
.cmdField {
    BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND-IMAGE: url(/static/imgs/bg_rectbtn.png); OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 67px; COLOR: #364c6d; LINE-HEIGHT: 27px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 27px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.buttonBlue {
    BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND-IMAGE: url(/static/imgs/bg_button_blue.gif); BORDER-LEFT: 0px; WIDTH: 78px; COLOR: white; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
</STYLE>
<script type="text/javascript" src="/static/js/jquery-1.3.1.js"></script>
 <script type="text/javascript">  
        //复选框全选   
        function checkAll(formvalue) {   
            var roomids = document.getElementsByName(formvalue);   
            for (var j = 0; j < roomids.length; j++) {   
                if (roomids.item(j).checked == false) {   
                    roomids.item(j).checked = true;   
                }   
            }   
        }   
  
        //复选框全不选   
        function uncheckAll(formvalue) {   
            var roomids = document.getElementsByName(formvalue);   
            for (var j = 0; j < roomids.length; j++) {   
                if (roomids.item(j).checked == true) {   
                    roomids.item(j).checked = false;   
                }   
            }   
        }   
  
        //复选框选择转换   
        function switchAll(formvalue) {   
            var roomids = document.getElementsByName(formvalue);   
            for (var j = 0; j < roomids.length; j++) {   
                roomids.item(j).checked = !roomids.item(j).checked;   
            }   
        }   
   function getIDs(){
            var str="";
            $('[name=test]:checkbox:checked').each(function(){
                str+=$(this).val()+",";
            })
            if(str.length>0){
                str = str.substring(0,str.length-1)
            }else{
                alert("没有选中记录");
                return false;
            }
            return str;
    }
    function doDelete(ids){
        alert("dodelete")
        $.post("/device/dtu/delete/", {
        ids:ids,
        csrfmiddlewaretoken:$("[name=csrfmiddlewaretoken]").val(),
        },function(data,textStatus){
            if(data=="1"){
                str="记录删除成功!"
                alert(str); // 把返回的数据添加到页面上
                window.location.reload();
            }else{
                alert("删除失败!");
            }
        });
    }
    function deleteOne(id){
        ids = id+"";
        if(ids.length>0){
            doDelete(ids);
        }
    }

    function deleteMany(){
      ids =  getIDs();
      if(ids.length>0){
          doDelete(ids)
      }
    } 
        
        
    </script>  
<META content="MSHTML 6.00.2900.5848" name=GENERATOR>
</HEAD>
<BODY 
style="BACKGROUND-POSITION-Y: -120px; BACKGROUND-IMAGE: url(/static/imgs/bg.gif); BACKGROUND-REPEAT: repeat-x">
<form id="form1" name="form1" method="post" action="">{% csrf_token %}
<DIV>
  <TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0>
    <TBODY>
      <TR 
  style="BACKGROUND-IMAGE: url(/static/imgs/bg_header.gif); BACKGROUND-REPEAT: repeat-x" 
  height=47>
        <TD width=10><SPAN 
      style="FLOAT: left; BACKGROUND-IMAGE: url(/static/imgs/main_hl.gif); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 47px"></SPAN></TD>
        <TD><SPAN 
      style="FLOAT: left; BACKGROUND-IMAGE: url(/static/imgs/main_hl2.gif); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 47px"></SPAN><SPAN 
      style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(/static/imgs/main_hb.gif); PADDING-BOTTOM: 10px; COLOR: white; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 47px; TEXT-ALIGN: center; 0px: ">用户管理 </SPAN><SPAN 
      style="FLOAT: left; BACKGROUND-IMAGE: url(/static/imgs/main_hr.gif); WIDTH: 60px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 47px"></SPAN></TD>
        <TD 
    style="BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/static/imgs/main_rc.gif)" 
    width=10></TD>
      </TR>
      <TR>
        <TD style="BACKGROUND-IMAGE: url(/static/imgs/main_ls.gif)">&nbsp;</TD>
        <TD 
    style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #566984; PADDING-TOP: 10px; BACKGROUND-COLOR: white" 
    vAlign=top align=middle>
          <DIV>
            <TABLE class=gridView id=ctl00_ContentPlaceHolder2_GridView1 
      style="WIDTH: 100%; BORDER-COLLAPSE: collapse" cellSpacing=0 rules=all 
      border=1>
              <TBODY>
              
                <TR>
                  <TH class=gridViewHeader style="WIDTH: 50px" scope=col>&nbsp;</TH>
                  <TH class=gridViewHeader scope=col>DTU设备编号</TH>
                  <TH class=gridViewHeader scope=col>DTU设备名称</TH>
                  <TH class=gridViewHeader scope=col>SIM卡号</TH>
                  <TH class=gridViewHeader scope=col>密码</TH>
                  <TH class=gridViewHeader scope=col>IP地址</TH>
                  <TH class=gridViewHeader scope=col>端口</TH>
                  <TH class=gridViewHeader scope=col>轮询时间</TH>
                  <TH class=gridviewHeader scope=col>更新</TH>
                  <TH class=gridviewHeader scope=col>删除</TH>
                </TR>
                {% for result in results.object_list %}
                <TR>
                  <TD class=gridViewItem style="WIDTH: 50px">
                    <input name="test" type="checkbox"  value="{{result.id}}" />
                 
                  </TD>
                  <TD class=gridViewItem>{{result.dtu_num}}</TD>
                  <TD class=gridViewItem>{{result.name}}</TD>
                  <TD class=gridViewItem>{{result.sim_id}}</TD>
                  <TD class=gridViewItem>{{result.password}}</TD>
                  <TD class=gridViewItem>{{result.ip_addr}}</TD>
                  <TD class=gridViewItem>{{result.port}}</TD>
                  <TD class=gridViewItem>{{result.interval}}</TD>
                  <TD class=gridViewItem><A href="/device/dtu/edit/{{result.id}}/"><img src="/static/imgs/button_11.jpg" style="border:0;"></A></TD>
                  <TD class=gridViewItem><A id=dellteone onclick="deleteOne({{result.id}})" href="javascript:void(0);"><img src="/static/imgs/button_3.jpg" style="border:0;"></A> </TD>
                </TR>
             {% endfor %}
              </TBODY>
            </TABLE>
            <div style="width:1000" align="left">&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" name="Submit" value="全选" class="buttonBlue"  onclick="checkAll('test')" />&nbsp;&nbsp;
              <input type="button" name="Submit2" value="反选" onclick="switchAll('test')" class="buttonBlue" />&nbsp;&nbsp;
              <input type="button" name="Submit3" value="全不选"  onclick="uncheckAll('test')" class="buttonBlue" />&nbsp;&nbsp;
              <input type="button" name="Submit4" value="删除" onclick="deleteMany()"  class="buttonBlue" />
            </div>
<!--            <div style="width:1000; text-align:center">上一页,下一页</div>-->
                <div class="pagination" align="center">
                <span class="step-links">
                
                {% if results.has_previous %}
                <a href="?page=1">首页</a>
                <a href="?page={{ results.previous_page_number }}">上一页</a>
                {% else %}
                首页
                上一页
                {% endif %}
                
                
                <span class="" >
                {% for pagenumber in results.paginator.page_range %}
                
                    {% ifequal pagenumber results.number %}
                       {{pagenumber}}
                    {% else %}
                        <a href="?page={{ pagenumber }}">{{pagenumber}}</a>
                    {% endifequal %}
                {% endfor %}
                </span>
                
                
                {% if results.has_next %}
                <a href="?page={{ results.next_page_number }}">下一页</a>
                <a href="?page={{ results.paginator.num_pages }}">尾页</a>
                {% else %}
                下一页
                尾页
                {% endif %}
                </span>
                </div>
          </DIV>
        </TD>
        <TD style="BACKGROUND-IMAGE: url(/static/imgs/main_rs.gif)"></TD>
      </TR>
      <TR 
  style="BACKGROUND-IMAGE: url(/static/imgs/main_fs.gif); BACKGROUND-REPEAT: repeat-x" 
  height=10>
        <TD style="BACKGROUND-IMAGE: url(/static/imgs/main_lf.gif)"></TD>
        <TD style="BACKGROUND-IMAGE: url(/static/imgs/main_fs.gif)"></TD>
        <TD 
style="BACKGROUND-IMAGE: url(/static/imgs/main_rf.gif)"></TD>
      </TR>
    </TBODY>
  </TABLE>
</DIV>
 </form>

</BODY>
</HTML>